---
import Social from "./Social.astro";
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>

<footer>
    <p>在 <Social platform="github" username="doootline" />   
        <a href={"https://space.bilibili.com/519162996?spm_id_from=333.1007.0.0"}>bilibili</a> 
        上，了解有关我的项目的更多信息！</p>
</footer>

